<html>  
    <head> 
        <titulo>Clubes</titulo>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet" href="../css/style.css">
        <script type="text/javascript" src="../js/js.js"></script>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </head>  
    <body>
        <div class="card-panel teal lighten-2"><h5><u><i><P ALIGN=rigth>Clubes</P></i></u></h5></div> 

        <li><a href= "https://es.wikipedia.org/wiki/Club_Atl%C3%A9tico_Boca_Juniors">Boca Juniors</a></li>
        <li><a href= "https://es.wikipedia.org/wiki/Club_Atl%C3%A9tico_River_Plate">River Plate</a></li>
        <li><a href= "https://es.wikipedia.org/wiki/Club_Atl%C3%A9tico_Belgrano">Belgrano</a></li>
        <li><a href= "https://es.wikipedia.org/wiki/Club_Atl%C3%A9tico_Talleres_(C%C3%B3rdoba)">Talleres</a></li>
        <li><a href= "https://es.wikipedia.org/wiki/Racing_Club">Racing </a></li>
        <li><a href= "https://es.wikipedia.org/wiki/Club_Atl%C3%A9tico_Independiente">Independiente</a></li>
        <li><a href= "https://es.wikipedia.org/wiki/Club_Atl%C3%A9tico_Rosario_Central">Rosario Central</a></li>
        <li><a href= "https://es.wikipedia.org/wiki/Club_Atl%C3%A9tico_Newell%27s_Old_Boys">Newell's Old Boys</a></li>
        <li><a href= "https://es.wikipedia.org/wiki/Club_Atl%C3%A9tico_San_Lorenzo_de_Almagro">San Lorenzo</a></li>
        <li><a href= "https://es.wikipedia.org/wiki/Club_Estudiantes_de_La_Plata">Estudiantes</a></li>
        <li><a href= "https://es.wikipedia.org/wiki/Club_Atl%C3%A9tico_Hurac%C3%A1n">Huracan</a></li>
        <li><a href= "https://es.wikipedia.org/wiki/Club_de_Gimnasia_y_Esgrima_La_Plata">Gimnasia</a></li>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>

    </body>
</html>    
