<html>
    <head>
        <title>Partidos de la semana</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet" href="../css/style.css">
        <script type="text/javascript" src="../js/js.js"></script>
    
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </head> 
    
    <body>
        <div class="card-panel teal lighten-2"><h5><u><i><P ALIGN=rigth>Ultimas Noticias</P></i></u></h5></div> 
        <center>
        <iframe width="400" height="350" src="https://www.youtube.com/embed/ZBnTTFn4iqE" frameborder="0" gesture="media" allowfullscreen></iframe>
        <iframe width="400" height="350" src="https://www.youtube.com/embed/SiJ8DAWmXuQ" frameborder="0" gesture="media" allowfullscreen></iframe>
        <iframe width="400" height="350" src="https://www.youtube.com/embed/ZO2J3lWH14A" frameborder="0" gesture="media" allowfullscreen></iframe>
        <iframe width="400" height="350" src="https://www.youtube.com/embed/JaZ242bexO8" frameborder="0" gesture="media" allowfullscreen></iframe>
        <iframe width="400" height="350" src="https://www.youtube.com/embed/75gjxMh63nc" frameborder="0" gesture="media" allowfullscreen></iframe>
        <iframe width="400" height="350" src="https://www.youtube.com/embed/JvnJbikGuac" frameborder="0" gesture="media" allowfullscreen></iframe>
        </center>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>        
    </body>    
</html>     