<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>     
    <head>
        <title>Posiciones de superliga 17/18</title>
        <link type="text/css" rel="stylesheet" href="../css/style.css">
        <script type="text/javascript" src="../js/js.js"></script>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet" href="../css/style.css">
        <script type="text/javascript" src="../js/js.js"></script>
    
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        </head> 
    <body>
        <div>
            <h1><i>Posiciones</i></h1>

          <table class="striped">
            <thead>
              <tr>
                  <th>Equipo</th>
                  <th>PJ</th>
                  <th>G</th>
                  <th>E</th>
                  <th>P</th>
                  <th>GF</th>  
                  <th>GC</th>
                  <th>DIF</th>
                  <th>PTS</th>              
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Boca Juniors</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td> 
                <td>0</td>
                <td>0</td>              
              </tr>
              <tr>
                <td>River Plate</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td> 
                <td>0</td>
                <td>0</td>              
              </tr>
              <tr>
                <td>Belgrano</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td> 
                <td>0</td>
                <td>0</td>              
              </tr>
                <td>Talleres</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td> 
                <td>0</td>
                <td>0</td>              
              <tr>
                <td>Racing</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td> 
                <td>0</td>
                <td>0</td>              
              </tr>
              <tr>
                <td>Independiente</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td> 
                <td>0</td>
                <td>0</td>              
              <tr>
                <td>Rosario Central</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td> 
                <td>0</td>
                <td>0</td>              
              </tr>
              <tr>
                <td>Newell's Old Boys</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td> 
                <td>0</td>
                <td>0</td>              
              </tr>
              <tr>
                <td>San Lorenzo</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td> 
                <td>0</td>
                <td>0</td>              
              </tr>
                <td>Estudiantes</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td> 
                <td>0</td>
                <td>0</td>              
              <tr>
                <td>Huracan</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td> 
                <td>0</td>
                <td>0</td>              
              </tr>
              <tr>
                <td>Gimnasia</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td> 
                <td>0</td>
                <td>0</td>                            
              </tr>            
            </tbody>
          </table>        
        </div>  
            
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>    
</html>     